.title {
    margin: 5%;
	font-weight: bold;
	font-size: 30px;
}
.logo {
    width: 400px;
}
.body {
    width: "50%";
    margin: 5% auto;
}
*{
  box-sizing: border-box; 
}
.big-text {
    font-size: 14px;
}
