.outline{
    border: 1px solid black;
}

.show_box{
  font-size: medium;
  position: relative;
  animation: expand 1s ease-in-out;
}

@keyframes expand{
  0% {
    opacity: 0;
    transform: scaleX( 0 );
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes expand_verticle{
  0% {
    opacity: 0;
    transform: scaleY( 0 );
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
.overlay {
    position: absolute;
    width: 100px;
    height: 200px;
    animation: expand 2s ease-in-out;
    border: 2px solid gray;
    background-size: cover; 
}

.overlay_verticle {
    position: absolute;
    width: 100px;
    height: 200px;
    animation: expand_verticle 1s ease-in-out;
    border: 2px solid red;
    background-size: cover; 
}

.rotate{
    transform: rotate( -90deg );
}

.trans_ratio{
    height: '15vh';
}


@media only screen and (max-width: 600px) {
    h3 {
        font-size: 5rem;
    }
}

/* Large devices (laptops/desktops, 992px and up) -- This would display the text at 10.0rem on laptops and larger screens */

@media only screen and (min-width: 992px) {
    h3 {
        font-size: 10rem;
    }
}