.outline{
    border: 1px solid black;
}

.show_box{
  font-size: medium;
  position: relative;
  animation: expand 1s ease-in-out;
}

@keyframes expand{
  0% {
    opacity: 0;
    transform: scaleX( 0 );
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes expand_verticle{
  0% {
    opacity: 0;
    transform: scaleY( 0 );
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
.overlay {
    position: absolute;
    width: 100px;
    height: 200px;
    animation: expand 2s ease-in-out;
    border: 2px solid gray;
    background-size: cover; 
}

.overlay_verticle {
    position: absolute;
    width: 100px;
    height: 200px;
    animation: expand_verticle 1s ease-in-out;
    border: 2px solid red;
    background-size: cover; 
}

.rotate{
    transform: rotate( -90deg );
}

.trans_ratio{
    height: '15vh';
}

@media (max-width: 767px){
	.box {
        padding: 3rem!important;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .box {
        padding: 3rem!important;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .box {
        padding: 2rem!important;
    }
}

@media (min-width: 1200px) {
    .box {
        padding: 1rem!important;
    }
}

